@import url();

.my-input{
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
}

.my-btn{
  color: blue;
}

.chat-body{
  display: flex;
  flex-direction: column;
  height: 60vh;
  overflow: auto;
  justify-content: flex-end;

}

.second{
  background-image: url("https://imgs.search.brave.com/Sbi_hIMwhO5xf4QmKjLFFlNFLpS62OvDSmBOdVBdU2I/rs:fit:860:0:0/g:ce/aHR0cHM6Ly90aHVt/YnMuZHJlYW1zdGlt/ZS5jb20vYi9zdG9j/ay1waG90by1oYW5k/aWNyYWZ0LTM1NzMx/MjQuanBn");
}